header a {
    color: white;

}

.logo {
    fill: white;
}

#backgroundAjouter {
    background-image: url('/asset/images/fondsitedashbord.png');
    background-repeat: no-repeat;
    background-position:top;
}

#divConnexion {
display: flex;
justify-content: center;
align-items: center;
height: 730px;
}



#boxDestination {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 800px;
height: 100%;
padding: 20px 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

#formulaireConnexion {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
height: 100%;
row-gap: 16px;

}

.champConnexion {
display: flex;
justify-content: center;
align-items:start;
flex-direction: column;
width: 150px;
row-gap: 16px;
}

.champConnexion input, .champConnexion select {
width: 170px;
border: 1px #E2E8F0 solid;
background-color: white;
height: 50px;
border-radius: 12px;
}

#submit {
background-color: #16526F; 
color:white; 
border: 1px solid #16526F;
width:350px;
height:50px;
border-radius:12px;
}

#submit:hover {
background-color: white ;
color: #16526F ;
}



#colonneAdd {
    display: flex;
    column-gap: 200px;
}

#listeVoyages {
    width: 100%;
}

.colonneAdd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h2 {
    display: flex;
    justify-content: center;
}

#champDescription {
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    row-gap: 16px;
}

#description {

    border: 1px #E2E8F0 solid;
    background-color: white;
    border-radius: 12px;
    color:#E2E8F0 ;
        
}